body {
    text-align: center;
    background-color: #dedede;
    margin: 0px;
    font-size: 12px;
    font-family: Arial,Verdana;
}

#container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: #ffffff;
    padding: 20px;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

h3,h4 {
    margin-top: 0px;
    padding-top: 0px;
}

.width300 {
    width: 300px;
}

td {
    vertical-align: top;
    padding: 3px;
    border: 1px solid darkblue;
}

td.label {
    font-weight: bold;
    text-align: right;
}
td.colheader {
	font-weight: bold;
	text-align: center;
	background-color: lightblue;
}

th {
    background-color: #cccccc;
    border-bottom: 1px solid #000000;
    padding: 0px;
}

table {
    padding: 0px;
    margin: 0px;
    border-spacing: 0;
    border-collapse: collapse;
    border-color: darkblue;
    overflow: auto;
    margin: 0 auto;
}



.button,.graybutton {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    padding: 10px 20px;
    background: -moz-linear-gradient(top, #d0451b   0%, #d92e2e);
    background: -webkit-gradient(linear, left top, left bottom, from(#d0451b  ), to(#d92e2e) );
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #666666;
    -moz-box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.5), inset 0px 0px 1px
        rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.5), inset 0px 0px
        1px rgba(255, 255, 255, 0.6);
    box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.5), inset 0px 0px 1px
        rgba(255, 255, 255, 0.6);
    text-shadow: 0px -1px 0px rgba(000, 000, 000, 1), 0px 1px 0px
        rgba(255, 255, 255, 0.2);
    text-decoration: none;
    cursor: pointer;
    min-width: 150px;
}
.graybutton { 
	background: -moz-linear-gradient(top, #cccccc   0%, #666666);
    background: -webkit-gradient(linear, left top, left bottom, from(#cccccc  ), to(#666666) );
}

.bold {
    font-weight: bold;
}
.noborder { 
    border: none !important;
}
input[type='text'], input[type='password'] { 
    padding: 3px;
    margin: 3px;	
}

textarea {
	overflow: auto;
}

/* to do  td.required { background-image ... } */

/* Styles specific to requestOrderTest.jsp, processTest.jsp */
#requestOrderTest input[type=text] {
    width: 80px;
}

#requestOrderTest #specimen_types td {
    border: 0px;
    white-space: nowrap;
    padding: 0;
    margin: 0;
}

#requestOrderTest div.quarter {
    width: 22%;
    float: left;
    padding-left: 20px;
}

#requestOrderTest div.quarter td {
    padding: none;
    border: none;
}


#requestOrderTest #specimen_types {
    white-space: nowrap;
}